.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e4056;
  width: 100%;
  height: 15vh;
  z-index: 3;
}

.footer a {
  color: #fffff5;
  font-family: "Mulish";
  margin: 0 50px;
  font-size: 1vw;
  padding: 2px 15px;
}

.footer a:hover {
  text-decoration: none;
  color: #0e4056;
  background-color: #fffff5;
  /* padding: 2px 4px; */
  border-radius: 5px;
}

.icon {
  color: #fffff5;
}

#logo-footer {
  height: 60%;
}
