.herd-detail-card {
  background-color: #fffff5;
  width: 100%;
  margin: auto;
  color: #0e4056;
}

.herd-detail-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.left-side {
  display: flex;
  align-items: center;
}

.logo-auctioneer {
  height: 40px;
}

.card-media {
  background-image: url("/public/img/vacaslecheras.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.details {
  display: flex;
  justify-content: space-evenly;
  color: #0e4056;
}
.seller {
  display: flex;
  justify-content: space-around;
}
.prebid {
  display: flex;
}
