.poster {
  height: 50vh;
  color: #fffff5;
  background-color: #fffff5;
}

.poster-card {
  background-color: #0e4056;
  width: fit-content;
  padding: 20px;
  margin-top: 10vh;
  border-radius: 15px;
}

h2 {
  font-size: 3rem;
}

button {
  display: block;
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
