body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100vh; /* Set height to 100% of viewport height */
  width: 100vw; /* Set width to 100% of viewport width */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  background-color: #0e4056;
  color: #fffff5;
}
* {
  box-sizing: border-box;
}
